.venv/
exp/
src/__pycache__/
**__pycache__/
cuda-keyring_1.1-1_all.deb
cuda-keyring_1.1-1_all.deb.1
audio_loading.log
wandb/
.env
testing_dataset.h5
onc_dataset.log
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test13true/args.pkl
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test13true/wandb_run_id.txt
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/args.pkl
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/pretrain-joint_progress.pkl
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/pretrain-joint_result.csv
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/progress.pkl
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/wandb_run_id.txt
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/models/pretrain-joint_best_checkpoint.pth
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/models/pretrain-joint_checkpoint.1.pth
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/models/pretrain-joint_checkpoint.2.pth
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/models/pretrain-joint_checkpoint.3.pth
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/models/pretrain-joint_checkpoint.4.pth
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/models/pretrain-joint_checkpoint.5.pth
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/models/pretrain-joint_checkpoint.6.pth
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/models/pretrain-joint_checkpoint.7.pth
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/models/pretrain-joint_checkpoint.8.pth
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/models/pretrain-joint_checkpoint.9.pth
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/models/pretrain-joint_checkpoint.10.pth
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/models/pretrain-joint_checkpoint.11.pth
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/models/pretrain-joint_checkpoint.12.pth
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/models/pretrain-joint_checkpoint.13.pth
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/models/pretrain-joint_checkpoint.14.pth
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/models/pretrain-joint_checkpoint.15.pth
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/models/pretrain-joint_checkpoint.16.pth
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/models/pretrain-joint_checkpoint.17.pth
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/models/pretrain-joint_checkpoint.18.pth
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/models/pretrain-joint_checkpoint.19.pth
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/models/pretrain-joint_checkpoint.20.pth
pretrain_joint/amba-small-f16-t16-b5-lr1e-4-m20-custom-tr0.2-test15true/models/pretrain-joint_checkpoint.21.pth
